.btn-box{
    width: 70%;
    margin: auto;
    text-align: center;
}

.btn-outline-info{
    width: 60%;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
}


.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* 기본 높이 */

    width: 60%;
    margin: 5% auto;
    border: 1.5px solid #8FBFFA;
    border-radius: 5px;
    background-color: #eaeaea;
}

.carousel-inner {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.carousel-control-next-icon {
    background-image: url(/image/petProfile/right-arrow.png);
}

.carousel-control-prev-icon {
    background-image: url(/image/petProfile/left-arrow.png);
}

@media (min-width: 700px) {
    .carousel-container {
        height: 45vh; /* 작은 화면에서의 높이 조정 */
    }
}

@media (min-width: 850px) {
    .carousel-container {
        height: 48vh; /* 작은 화면에서의 높이 조정 */
    }
}

@media (min-width: 950px) {
    .carousel-container {
        height: 57vh; /* 작은 화면에서의 높이 조정 */
    }
}

@media (min-width: 1100px) {
    .carousel-container {
        height: 65vh; /* 작은 화면에서의 높이 조정 */
    }
}

@media (min-width: 1250px) {
    .carousel-container {
        height: 75vh; /* 작은 화면에서의 높이 조정 */
    }
}


@media (min-width: 1400px) {
    .carousel-container {
        height: 80vh; /* 작은 화면에서의 높이 조정 */
    }
}

@media (min-width: 1550px) {
    .carousel-container {
        height: 85vh; /* 작은 화면에서의 높이 조정 */
    }
}

@media (min-width: 1700px) {
    .carousel-container {
        height: 90vh; /* 작은 화면에서의 높이 조정 */
    }
}

@media (min-width: 1850px) {
    .carousel-container {
        height: 95vh; /* 작은 화면에서의 높이 조정 */
    }
}

@media (min-width: 1920px) {
    .carousel-container {
        height: 100vh; /* 작은 화면에서의 높이 조정 */
    }
}