<!DOCTYPE html>
<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <a href="/community/create">등록</a>
    <span class="menu_devide">│</span>
    </span>

    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
  </aside>

  <!-- /contents/list_search_component.html 파일의 list_search_fragment import -->
  <div th:replace="~{community/list_search_component::list_search_fragment}"></div>

  <div class='menu_line'></div>

  <table class="table table-striped" style='width: 80%; margin: 0 auto;'>
    <colgroup>
      <col style='width: 10%;' />
      <col style='width: 90%;' />
    </colgroup>
    <tr>
      <th class='th_bs'>파일</TH>
      <th class='th_bs'>제목</th>
    </tr>



    <tr th:each="communityVO,status:${list}"
      th:attr="onclick=|location.href='/community/read?communityno=${communityVO.communityno}&word=${word}&now_page=${now_page}'|"
      style="cursor: pointer; height: 90px;">
      <td class='td_basic' style="vertical-align: middle; text-align:center;">
        <div
          th:if="${(communityVO.filename != null) and (communityVO.filename.endsWith('jpg') or communityVO.filename.endsWith('png')  or communityVO.filename.endsWith('gif'))}">
          <img th:src="@{|/communityattachment/storage/${communityVO.thumbfile}|}" style="width: 120px; height: 90px;">
        </div>

        <div
          th:if="${(communityVO.filename != null) and ((communityVO.filename.endsWith('jpg') or communityVO.filename.endsWith('png')  or communityVO.filename.endsWith('gif')) == false) and (communityVO.filesize > 0)}">
          <span th:text="${communityVO.filename}"></span>
        </div>

        <div th:if="${communityVO.filename == null}">
          <img src="/communityattachment/storage/none1.png" style="width: 120px; height: 90px;">
        </div>
      </td>


      <td class='td_left'>
        <span th:text="${communityVO.title}" style="font-weight: bold;"></span><br>
        <!--<span th:text="|&nbsp;${communityVO.wrirtedate.substring(0,10)}|"> </span><br> -->
        <span th:if="${communityVO.content.length() > 160 }"
          th:text="|${communityVO.content.substring(0, 160) }...|"></span>
        <span th:if="${communityVO.content.length() <= 160 }" th:text="|${communityVO.content}|"></span>

      



    <tr th:if="${list.size() == 0}">
      <td colspan="2" style="text-align: center;">작성된 글이 없습니다.</td>
    </tr>

    </tr>
  </table>

  


  <div class='bottom_menu'>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
  </div>
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 -->

</div>

</html>