<div th:fragment="list_all_fragment"> <!-- <div th:replace=... -->
  <table class="table table-hover">
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">문화시설 번호</th>
        <th class="th_bs">문화시설</th>
        <th class="th_bs">도로명 주소</th>
        <th class="th_bs">우편번호</th>
        <th class="th_bs">전화번호</th>
        <th class="th_bs">휴무일</th>
        <th class="th_bs">운영시간</th>
        <th class="th_bs">주차가능여부</th>
        <th class="th_bs">문화시설 카테고리</th>
        <th class="th_bs">홈페이지</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="culturefacilityVO, status:${list}">
        <td class="td_bs" th:text="|${no - status.index}|"></td>
        <td class="td_bs"><a th:href="@{|/culturefacility/read/${culturefacilityVO.culturefno}?word=${word}&now_page=${now_page}|}" style="display: block;" th:text="${culturefacilityVO.cname}"></a></td>
        <td class="td_bs" th:text="${culturefacilityVO.raddress}"></td>
        <td class="td_bs" th:text="${culturefacilityVO.addr_code}"></td>
        <td class="td_bs" th:text="${culturefacilityVO.phone}"></td>
        <td class="td_bs" th:text="${culturefacilityVO.closeddays}"></td>
        <td class="td_bs" th:text="${culturefacilityVO.operatingtime}"></td>
        <td class="td_bs" th:text="${culturefacilityVO.pa}"></td>
        <td class="td_bs" th:text="${culturefacilityVO.culturecate}"></td>
        <td class="td_bs" th:text="${culturefacilityVO.chomepage}"></td>
        

      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="Bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 
  
</div>











