<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
	<div class="title_line">
		&nbsp;&nbsp;문화시설 검색
		<span th:if="${word!=null and word!=''}" th:text="|${word} ${no} 건|">
	</div>

	<aside class="aside_right">

		<a href="/culturefacility/create">등록</a>
		<span class="menu_devide">│</span>
		<a href="javascript: location.reload();">새로 고침</a>
	</aside>



	<!-- /cate/list_search_component.html 파일의 list_search_fragment import -->
	<div th:replace="~{culturefacility/list_search_component::list_search_fragment}"></div>

	<div class="menu_line"></div>



	<!-- /cate/list_all_component.html 파일의 list_all_fragment import -->
	<div th:replace="~{culturefacility/list_all_component::list_all_fragment}"></div>

</div>

</html>