<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">



	<div class='title_line'>
		문화시설 >
		<span th:text="${culturefacilityVO.cname}" class="title_line_text"></span>
	</div>
	<aside class="aside_right">
		<a th:href="@{|/culturefacility/list_search?word=${word}&now_page=${now_page}|}">목록</a>

		<!-- 관리자일 때만 나타날 메뉴 -->
		<th:block th:if="${session.masterno != null}">
			<span class="menu_devide">│</span>
			<a href="/culturefacility/create">등록</a>
			<span class="menu_devide">│</span>
			<a th:href="@{|/culturefacility/update/${culturefacilityVO.culturefno}?word=${word}&now_page=${now_page}|}">수정</a>
			<span class="menu_devide">│</span>
			<a th:href="@{|/culturefacility/delete/${culturefacilityVO.culturefno}?word=${word}&now_page=${now_page}|}">삭제</a>
		</th:block>
		<span class="menu_devide">│</span>
		<a href="javascript: location.reload();">새로 고침</a>


	</aside>

	<div class="menu_line"></div>

	<div class="container mt-3" style="width: 50%; margin: 5px auto;">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">문화시설 이름: <span th:text="${culturefacilityVO.cname}"></span></li>
			<li class="list-group-item">도로명 주소: <span th:text="${culturefacilityVO.raddress}"></span></li>
			<li class="list-group-item">우편번호: <span th:text="${culturefacilityVO.addr_code}"></span></li>
			<li class="list-group-item">전화번호: <span th:text="${culturefacilityVO.phone}"></span></li>
			<li class="list-group-item">휴무일: <span th:text="${culturefacilityVO.closeddays}"></span></li>
			<li class="list-group-item">운영시간: <span th:text="${culturefacilityVO.operatingtime}"></span></li>
			<li class="list-group-item">주차가능여부: <span th:text="${culturefacilityVO.pa}"></span></li>
		</ul>
	</div>

	 
	<!-- ------------------------------ 댓글 영역 시작 ------------------------------ -->
	<script>
		let facilityreview_data; // 댓글 500건 저장
		let facilityreview_now_page = 1; // 댓글 현재 페이지
	</script>

	<script>
		window.onload = () => {
			let reviewcomment_tag = document.getElementById('reviewcomment'); // 내용
			let btn_create_tag = document.getElementById('btn_create'); // 등록
			let btn_add_tag = document.getElementById('btn_add'); // 더보기
			let facilityreview_list_tag = document.getElementById('facilityreview_list'); // 목록 출력 panel

			let btn_save_tag = document.getElementById("btn_save");      // 수정 저장
			let rno_tag = document.getElementById("rno");         // 수정할 레코드 번호
			let memberno_tag = document.getElementById("memberno");  // 댓글 작성 회원 번호

			let btn_delete_tag = document.getElementById("btn_delete"); // 삭제 처리
			let btn_cancel_tag = document.getElementById("btn_cancel"); // 수정/삭제 취소

			// 관리자 여부 확인
			let isAdmin = '[[${session.masterno}]]' !== '';


			// 댓글 입력
			reviewcomment_tag.addEventListener('click', () => {

				if (isAdmin) {
					alert('관리자는 후기를 등록 할 수 없습니다.');
					return; // 관리자는 수정할 수 없으므로 함수 종료
				}


				let id = '[[${session.id}]]'; //  javascript -> Thymeleaf -> session

				if (id == '') {
					alert('로그인해야 댓글을 입력 할 수 있습니다.');
					location.href = "/member/login?url=/culturefacility/read?culturefno=[[${culturefacilityVO.culturefno}]]%26word=[[${word}]]%26now_page=[[${now_page}]]";
				} else {



				}
			});




			// 취소 버튼 클릭 시
			btn_cancel_tag.addEventListener('click', () => {
				reviewcomment_tag.value = '';
				btn_visible('default');
			});


			btn_create_tag.addEventListener('click', () => {
				let reviewcomment = reviewcomment_tag.value.trim();

				if (reviewcomment.length == 0) {
					alert('내용이 없습니다. 내용을 입력해주세요.');
				} else {


					// Spring Security를 사용하지 않고 CORS 설정시 접근 안됨.
					fetch("/facilityreview/create", {
						"method": "post",
						"headers": {"Content-Type": "application/json"},
						body: JSON.stringify({"culturefno": "[[${culturefacilityVO.culturefno}]]", "reviewcomment": reviewcomment})
					})
						.then((response) => response.json())
						.then((data) => {
							list_by_culturefno_join(); // 목록 출력
							reviewcomment_tag.value = '';
							reviewcomment_tag.focus();
						});



				}

			});

			// 페이징 처리
			// 자바 스크립트는 변수명에 '-' 사용 못함.
			btn_add_tag.addEventListener('click', () => {
				// 현재 페이지보다 레코드 갯수가 더 많은 경우만 실행
				if (facilityreview_data.length > facilityreview_now_page * 5) { // 5, 10, 15, 20, 25 X 

					let start = 0; // 출력 순환 시작 index
					let end = 0;  // 출력 순환 종료 index
					if (facilityreview_data.length > 5) {
						start = facilityreview_now_page * 5;
						end = (facilityreview_now_page * 5) + 5; // 시작 index + 페이지 당 레코드 수

						let msg = '';
						let page_div = document.createElement('div'); // 글내용
						for (let i = start; i < end; i++) { // 5 ~ 9, 10 탈출
							if (i == facilityreview_data.length) { // 모든 태그를 출력한 이후인지 검사
								break;
							}

							let row = facilityreview_data[i];
							msg += "<div id='" + row.rno + "' style='border-bottom: solid 1px #EEEEEE; margin-bottom: 10px;'>";
							msg += "<span style='font-weight: bold;'>" + row.id + "</span>";
							msg += "  " + row.rdate;

							//	if ('[[${session.memberno}]]' == row.memberno) { // 글쓴이 일치여부 확인, 본인의 글만 삭제 가능함 ★
							// 변경된 부분 시작
							if ('[[${session.memberno}]]' == row.memberno || '[[${session.masterno}]]' != '') {
								msg += " <a href='javascript:facilityreview_update(" + row.rno + ")'><img src='/facilityreview/images/update.png' style='width: 16px;'></a>";
								msg += " <a href='javascript:facilityreview_delete(" + row.rno + ")'><img src='/facilityreview/images/delete.png' style='width: 16px;'></a>";
							}
							msg += "  " + "<br>";
							msg += row.reviewcomment;
							msg += "</div>";

						}
						page_div.innerHTML = msg; //  페이지에 속한 레코드들 추가
						facilityreview_list_tag.appendChild(page_div);

						facilityreview_now_page = facilityreview_now_page + 1;
					}

				}
			});

			// 수정 처리
			btn_save_tag.addEventListener('click', () => {
				let rno = rno_tag.value;
				let reviewcomment = reviewcomment_tag.value.trim();
				let memberno = memberno_tag.value;

				if (reviewcomment.length == 0) {
					alert('내용이 없습니다. 내용을 입력해주세요.');
				} else {
					fetch("/facilityreview/update", {
						"method": "post",
						"headers": {"Content-Type": "application/json"},
						body: JSON.stringify({"rno": rno, "memberno": memberno, "reviewcomment": reviewcomment})
					})
						.then((response) => response.json())
						.then((data) => {
							if (data['res'] == 0) {
								alert('댓글 수정에 실패 했습니다.\n 잠시후 다시 시도해 주세요(관리자: 02-123-1234)');
							} else {
								list_by_culturefno_join(); // 목록 출력
								reivewcommnet_tag.value = '';
								reviewcomment_tag.focus();
								btn_visible('default');
							}
						});



				}

			});

			list_by_culturefno_join(); // 목록 출력
		}

		// 목록 출력
		// 5건 미만이면 5회 미만 순환, 5건 이상 5회 순환
		function list_by_culturefno_join() { // 목록 출력
			let cnt = 0; // 출력 순환 횟수  


			fetch("/facilityreview/list_by_culturefno_join?culturefno=[[${culturefacilityVO.culturefno}]]", {
				"method": "get"
			})
				.then((response) => response.json())
				.then((data) => {
					facilityreview_data = data['res'];

					if (facilityreview_data.length > 5) {
						cnt = 5;
					} else {
						cnt = facilityreview_data.length;
					}


					let msg = '';
					for (let i = 0; i < cnt; i++) {

						let row = facilityreview_data[i];
						msg += "<div id='" + row.rno + "' style='border-bottom: solid 1px #EEEEEE; margin-bottom: 10px;'>";
						msg += "<span style='font-weight: bold;'>" + row.id + "</span>";
						msg += "  " + row.rdate;

						//if ('[[${session.memberno}]]' == row.memberno) { // 글쓴이 일치여부 확인, 본인의 글만 삭제 가능함 ★
						// 변경된 부분 시작
						if ('[[${session.memberno}]]' == row.memberno || '[[${session.masterno}]]' != '') {
							msg += " <a href='javascript:facilityreview_update(" + row.rno + ")'><img src='/facilityreview/images/update.png' style='width: 16px;'></a>";
							msg += " <a href='javascript:facilityreview_delete(" + row.rno + ")'><img src='/facilityreview/images/delete.png' style='width: 16px;'></a>";
						}
						msg += "  " + "<br>";
						msg += row.reviewcomment;
						msg += "</div>";
					}

					document.getElementById("facilityreview_list").innerHTML = msg;

				});

		}

		// 수정 폼 
		function facilityreview_update(rno) {
			let rno_tag = document.getElementById('rno')
			let memberno_tag = document.getElementById('memberno')
			let reviewcomment_tag = document.getElementById('reviewcomment')


			// 관리자 여부 확인
			let isAdmin = '[[${session.masterno}]]' !== '';

			if (isAdmin) {
				alert('관리자는 후기를 수정할 수 없습니다.');
				return; // 관리자는 수정할 수 없으므로 함수 종료
			}


			// fetch로 데이터 읽어 오기
			fetch("/facilityreview/read?rno=" + rno, {
				"method": "get",
				"headers": {"Content-Type": "application/json"},

			})
				.then((response) => response.json())
				.then((data) => {

					rno_tag.value = data['res']['rno'];
					memberno_tag.value = data['res']['memberno'];
					reviewcomment_tag.value = data['res']['reviewcomment'];
					reviewcomment_tag.focus();
					btn_visible('update');
				});

		}

		// 삭제 폼 + 삭제 처리
		function facilityreview_delete(rno) {
			let reviewcomment_tag = document.getElementById('reviewcomment');
			// fetch로 데이터 읽어 오기
			fetch("/facilityreview/read?rno=" + rno, {
				"method": "get",
				"headers": {"Content-Type": "application/json"},

			})
				.then((response) => response.json())
				.then((data) => {
					let sw = confirm("「" + data['res']['reviewcomment'] + "」 삭제하시려면 확인 버튼을 누르세요. 삭제후 복구 할 수 없습니다.");
					if (sw == true) {

						fetch("/facilityreview/delete", {
							"method": "post",
							"headers": {"Content-Type": "application/json"},
							// 변경된 부분 시작
							body: JSON.stringify({"rno": rno, "memberno": '[[${session.memberno}]]'})
							//body: JSON.stringify({"rno": rno, "memberno": data['res']['memberno']})
						})
							.then((response) => response.json())
							.then((data) => {
								if (data['res'] == 1) {
									list_by_culturefno_join(); // 목록 출력
									reviewcomment_tag.value = '';
									reviewcomment_tag.focus();
									alert('댓글을 삭제했습니다.');
								} else {
									alert('댓글 삭제에 실패했습니다. 잠시후 다시 시도해주세요.');
								}
							});
					} else {
						alert('삭제를 취소 했습니다.');
					}
				});
		}

		// 버튼 출력
		function btn_visible(sw) {
			let btn_create = document.getElementById("btn_create");
			let btn_save = document.getElementById("btn_save");
			let btn_cancel = document.getElementById("btn_cancel");

			if (sw == 'update') {
				btn_create.style.display = 'none'; // hidden
				btn_save.style.display = ''; // show
				btn_cancel.style.display = '';
			} else if (sw == 'default') {
				btn_create.style.display = '';
				btn_save.style.display = 'none';
				btn_cancel.style.display = 'none';
			}

		}
	</script>

	  <div style='width: 100%; margin: 0px auto; clear: both;'>
		      <form name='frm_facilityreview' id='frm_facilityreview'>
			          <input type='hidden' name='memberno' id='memberno' value=''>
			          <input type='hidden' name='rno' id='rno' value=''>

			          <textarea name='reviewcomment' id='reviewcomment' class="form-control"
				style='width: 100%; height: 60px;' placeholder="댓글 작성, 로그인해야 등록 할 수 있습니다." autofocus='autofocus'></textarea>
			         <div style='text-align: center;'>
				<button type='button' id='btn_create'>&nbsp;&nbsp;등&nbsp;&nbsp;록&nbsp;&nbsp;</button>
				<button type='button' id='btn_save' style='display: none;'>&nbsp;&nbsp;저&nbsp;&nbsp;장&nbsp;&nbsp;</button>
				<button type='button' id='btn_delete' style='display: none;'>&nbsp;&nbsp;삭&nbsp;&nbsp;제&nbsp;&nbsp;</button>
				<button type='button' id='btn_cancel' style='display: none;'>&nbsp;&nbsp;취&nbsp;&nbsp;소&nbsp;&nbsp;</button>
			</div>
			      </form>
		      <div id='facilityreview_list' data-replypage='1'>  
			<!-- 목록 -->
			       등록된 댓글이 없습니다.
			     
		</div>
		      <div id='facilityreview_list_btn' style='border: none'>
			          <button id='btn_add' style='width: 100%;'>더보기 ▽</button>
			      </div>  
		    
		  </div>
	  
	 
	<!-- ------------------------------ 댓글 영역 종료 ------------------------------  -->








	<!-- /templates/cate/list_all_component.html 파일의 list_all_fragment import -->
	<!--<div th:replace="~{culturefacility/list_all_component::list_all_fragment}"></div>

</div>-->

</html>