<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!--layout.html 상속-->
<div layout:fragment="content">
	<div class="title_line">문화시설 조회</div>

	<div class="container mt-3">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">문화시설 번호: <span th:text="${culturefacilityVO.culturefno}"></span></li>
			<li class="list-group-item">문화시설 이름: <span th:text="${culturefacilityVO.cname}"></span></li>
			<li class="list-group-item">도로명주소: <span th:text="${culturefacilityVO.raddress}"></span></li>
			<li class="list-group-item">위도: <span th:text="${culturefacilityVO.latitude}"></span></li>
			<li class="list-group-item">경도: <span th:text="${culturefacilityVO.longitude}"></span></li>
			<li class="list-group-item">우편번호: <span th:text="${culturefacilityVO.addr_code}"></span></li>
			<li class="list-group-item">전화번호: <span th:text="${culturefacilityVO.phone}"></span></li>
			<li class="list-group-item">운영시간: <span th:text="${culturefacilityVO.operatingtime}"></span></li>
			<li class="list-group-item">주차가능여부: <span th:text="${culturefacilityVO.pa}"></span></li>
		</ul>
	</div>

	<div class="content_body_bottom">
		<button type="button" onclick="location.href='/cate/list_all'" class="btn btn-secondary btn-sm">목록</button>
		<button type="button" th:onclick="|location.href='/cate/update/${cateVO.cateno}'|"
			class="btn btn-secondary btn-sm">수정</button>
		<button type="button" th:onclick="|location.href='/cate/delete/${cateVO.cateno}'|"
			class="btn btn-secondary btn-sm">삭제</button>
		<button type="button" onclick="location.href='/cate/create'" class="btn btn-secondary btn-sm">등록</button>
	</div>

</div>

</html>