<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content" style="width: 80%; margin: auto">
  <div class='title_line'>
    > 삭제
  </div>
  
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div th:if="${noticeVO.nfile.endsWith('jpg') or noticeVO.nfile.endsWith('png')  or noticeVO.nfile.endsWith('gif')}"
               style="text-align: center; width: 50%; float: left;">
          <img th:src="@{|/notice/storage/${noticeVO.nfile}|}" style="width: 90%;">
        </div>

        <div th:if="${(noticeVO.nfile.endsWith('jpg') or noticeVO.nfile.endsWith('png')  or noticeVO.nfile.endsWith('gif')) == false}"
               class="display_table" style="float: left; width: 50%;">
            <div class="display_table_cell">
              <span th:text="${noticeVO.nfile}"></span>
            </div>
        </div>

        <div style='text-align: left; width: 47%; float: left;'>
          <span style='font-size: 1.5em;' th:text="${noticeVO.title}"></span>
          <br>
          <form name='frm' method='POST' action='./delete'>
            <input type="hidden" name="noticeno" th:value="${noticeVO.noticeno}">
                
            <br> 
            <div style='margin-top: 20px; clear: both;'>
              <span style="color: #FF0000; font-weight: bold;">삭제를 진행 하시겠습니까? 삭제하시면 복구 할 수 없습니다.</span>
              <br><br><br>  
              <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>  
          </form>
        </div>
      </li>
    </ul>
  </fieldset>  

</div>

</html>

  