<!DOCTYPE html>

<html layout:decorate="~{layout}">
<div layout:fragment="content" style="width: 80%; margin: auto">

  <div class='title_line'>공지사항</div>

  <aside class="aside_right">
    <span th:if="${session.masterno != null}">
      <a th:href="@{|/notice/create?masterno=${session.masterno}|}">공지사항 등록</a>
      <span class="menu_devide">│</span>
    </span>
    <span th:if="${session.memberno != null}">
      <a th:href="@{|/sympathy/read_all?memberno=${session.memberno}|}">공감하는 글</a>
      <span class='menu_divide'>│</span>
    </span>
    <a th:href="@{|/notice/list_all?word=${word}&now_page=${now_page}|}">목록형</a>
    <span class="menu_devide">│</span>
    <a th:href="@{|/notice/list_search_paging_grid?word=${word}&now_page=${now_page}|}">갤러리형</a>
    <span class="menu_devide">│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>

  <div th:replace="~{notice/list_search_component::list_search_fragment}"></div>

  <div class='menu_line'></div>

  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;' />
      <col style='width: 30%;' />
      <col style='width: 30%;' />
      <col style='width: 25%;' />
      <col style='width: 5%;' />
    </colgroup>
    <tr>
      <th class='th_bs'>번호</th>
      <th class='th_bs'>제목</th>
      <th class='th_bs'>내용</th>
      <th class='th_bs'>등록일</th>
      <th class='th_bs'>공감</th>
    </tr>

    <tr th:each="noticeVO, status:${list_all}">
      <td class='td_bs'><a th:href="@{|./read?noticeno=${noticeVO.noticeno}|}"><span
            th:text="${status.count}"></span></a></td>
      <td class='td_bs'><a th:href="@{|./read?noticeno=${noticeVO.noticeno}|}"><span
            th:text="${noticeVO.title}"></span></a></td>

      <td class='td_bs'><a th:href="@{|./read?noticeno=${noticeVO.noticeno}|}">
          <span th:if="${noticeVO.notice.length() > 20 }" th:text="|${noticeVO.notice.substring(0, 20) }...|"></span>
          <span th:if="${noticeVO.notice.length() <= 20 }" th:text="|${noticeVO.notice}|"></span>
        </a></td>

      <td class='td_bs'><a th:href="@{|./read?noticeno=${noticeVO.noticeno}|}"><span
            th:text="${noticeVO.noticedate}"></span></a></td>
      <td class='td_bs'><a th:href="@{|./read?noticeno=${noticeVO.noticeno}|}"><span
            th:text="${noticeVO.likecnt}"></span></a></td>

    </tr>
  </table>

  <div class="bottom_menu" th:utext="${paging}"></div>


</div>

</html>