<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content" style="width: 80%; margin: auto">
  <div class='title_line'>
    > 글 조회
  </div>

  <aside class="aside_right">
    <span th:if="${session.masterno != null}">
      <a th:href="@{|/notice/update?noticeno=${noticeVO.noticeno}|}">수정</a>
      <span class='menu_divide'>│</span>
      <a th:href="@{|/notice/delete?noticeno=${noticeVO.noticeno}|}">삭제</a>
      <span class='menu_divide'>│</span>
    </span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>

  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">

          <div class="flex-item">
            <fieldset class="fieldset_basic">
              <div class="image-grid">
                <div class="image-grid-item" th:each="noticeimgVO, status:${list}">
                  <div
                    th:if="${noticeimgVO.filesaved != null and (noticeimgVO.filesaved.endsWith('jpg') or noticeimgVO.filesaved.endsWith('png') or noticeimgVO.filesaved.endsWith('gif'))}">
                    <span style="font-size: 1.5em; font-weight: bold;" th:text="${noticeimgVO}"></span>
                    <div class="image-grid">

                      <div th:if="${noticeimgVO.filesize} > 0">
                        <img th:src="@{|/notice/storage/${noticeimgVO.filesaved}|}" th:alt="${noticeimgVO.filesaved}">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </fieldset>
          </div>

          <span style="font-size: 1.5em; font-weight: bold;" th:text="${noticeVO.title}"></span>
          <span style="font-size: 1em;" th:text="${noticeVO.noticedate }"></span><br><br>
          <div style="white-space: pre-wrap;"><span th:text="${noticeVO.notice}"></span></div>
        </div>
      </li>

    </ul>
  </fieldset>

</div>

</html>