<!-- src/main/resources/templates/member/findIdResult.html -->
<!DOCTYPE html>
<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content" style="width: 80%; margin: auto">

  <head>
    <title>Find ID</title>
  </head>

  <body>
    <div class="title_line">아이디 찾기</div>
    <aside class="aside_right">
      <a href="javascript:location.reload();">새로고침</a>
      <span class='menu_divide'>│</span>
      <a href='./create'>회원 가입</a>
    </aside>



    <div class='menu_line'></div>

    <div style="width: 30%; margin: 0px auto; margin-top: 10px; ">
      <form name="frm" id="frm" th:object="${memberVO}" method="post" action="/member/findIdView">
        <div>
          <label for="email">이메일</label>
          <input type="text" name="email" id="email" value="vkjiu486@gmail.com" autofocus="autofocus" class="form-control fom-control-sm"
            style="width: 80%;">
        </div>

        <div>
          <label for="name">이 름</label>
          <input type="text" name="name" id="name" value="하정우" class="form-control fom-control-sm"
            style="width: 80%;">
          <span id='name_msg'></span>
        </div>

        <div class="form-group">
          <label for="phone">전화번호</label>
          <input type='phone' name='phone' id='phone' value='010-1234-5678' required="required" placeholder="패스워드"
            class="form-control form-control-sm" style="width: 80%;">
          <span id='phone_msg'></span>
        </div>

        <div class="content_body_bottom">
          <button type="button" onclick="secursys();" class="btn btn-secondary btn-sm">아이디 찾기</button>
          <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
        </div>


      </form>
    </div>

    <script type="module">
      import {secur} from './secur.js';

      function secursys() {
        let obj;
        let arrayobj = ["name", "phone"];

        for (let i = 0; i < arrayobj.length; i++) {
          obj = document.getElementById(arrayobj[i]);
          if (secur(obj) == false) {
            return false;
          }
        }
        document.getElementById('frm').submit();
      }
      window.secursys = secursys;

    </script>

  </body>
</div>



</html>