.nav_bar_style{
    padding-left: 150px;
    /*height: 100px;*/
    box-shadow: 0px -2px 15px 0 #00000030;
}

.title{
    font-size: 36px;
    font-weight: bold;
    color: rgba(33, 150, 243, 0.95);
    text-decoration-line: none;
}

.a_button{
    color: black;
}

.a_button:link{
    color: black;
}

.a_button:visited{
    background-color: white;
    color: black;
}

.a_button:hover{
    font-weight: 400;
    color: #92C7FF;
}

.a_button:active{
    background-color: rgb(0 0 0 / 18%);
    color: #92C7FF;
}
