<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content" style="padding-top: 20px; width: 70%; margin: auto">
<link href="/css/pet/create.css" rel="Stylesheet" type="text/css">
<div>
    <div class='title_line'>반려동물 정보 입력</div>

    <aside class="aside_right">
        <a href="javascript:location.reload();">새로고침</a>
    </aside>

    <div class='menu_line'></div>

    <form name='frm' id="frm" method='post' th:object="${mateCommunityVO}" action='./create' style="width: 100%; margin: 0 auto;"
        class="row">
<!--        <input type="hidden" name="memberNo" th:value="${memberNo}">-->
        <input type="hidden" name="memberNo" th:value="${memberNo}">

        <div class="mb-3">
            <div>이름</div>
            <input type='text' name='name' value='산책메이트 구해요!!' required="required" id="name" placeholder="반려동물의 이름을 입력해주세요!(10자 이내)"
                   autofocus="autofocus" class="form-control" style='width: 100%;'>
        </div>

        <div class="mb-3 row">
            <label for="petTypeNo" class="me-2 col-2 pt-1" style="width: 10.333333%;">종류</label>
            <select name="petTypeNo" id="petTypeNo" class="select_type col-3">
<!--                <option value="select" th:selected="${petTypeNo}==0">게시판을 선택해주세요.</option>-->
                <option value="1" selected>강아지</option>
                <option value="2">고양이</option>
                <option value="3">기타 반려동물</option>
            </select>

            <div class="col-5 pt-1 ms-2">
                <span class="check_type">
                    <input type="radio" name="gender" value="F" id="female" class="check_type">
                    <label for="female" class="align-middle" ></label>
                    <span class="align-middle">암</span>

                    <input type="radio" name="gender" value="M" id="male" class="check_type">
                    <label for="male" class="align-middle"></label>
                    <span class="align-middle">수</span>

                    <input type="radio" name="gender" value="E" id="etc" class="check_type">
                    <label for="etc" class="align-middle"></label>
                    <span class="align-middle">기타</span>
                </span>
            </div>
        </div>

        <div class="assemble_date_time mb-3">
            <label for="petTypeNo" class="me-2 pe-2">생년월일</label>
            <div class="pt-1 row" style="width: 70%;">
                <span class="col-3">
                    <select id="year" class="birth">
                        <option value="0000" selected>년도</option>
                    </select>
                </span>
                <span class="col-1 pt-2" style="width: 4.333333%;"> . </span>
                <span class="col-3">
                    <select id="month" class="birth">
                        <option value="00" selected>월</option>
                    </select>
                </span>
                <span class="col-1 pt-2" style="width: 4.333333%;"> . </span>
                <span class="col-3">
                    <select id="day" class="birth">
                        <option value="00" selected>일</option>
                    </select>
                </span>
            </div>
        </div>


        <div class="mb-3">
            <label>상세 정보</label>
            <textarea name='detail' required="required" class="form-control" rows="7" style='width: 100%; resize: none;' id="detail"
            placeholder="간단한 반려동물의 소개를 작성해 주세요.(선택사항)">함께 산책해요</textarea>
        </div>

        <div class="content_body_bottom">
            <button type="button" id="send_btn" class="btn btn-outline-info btn-md" style="width: 45%; margin-right: 1%">등록</button>
            <button type="button" onclick="location.href='/'" class="btn btn-outline-info btn-md" style="width: 45%; margin-left: 1%">취소</button>
        </div>

    </form>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function send(){
        // 반려동물 성별
        let gender = document.querySelector('input[name="gender"]:checked');
        gender = gender.value;
        // 반려동물 이름
        let name = document.getElementById('name').value;

        // 반려동물 종류
        let petTypeNo = document.querySelector('#petTypeNo');
        let petType = parseInt(petTypeNo.options[petTypeNo.selectedIndex].value);

        // 생년월일
        let year = document.querySelector('#year');
        let month = document.querySelector('#month');
        let day = document.querySelector("#day");

        let year_result = year.options[year.selectedIndex].value;
        let month_result = month.options[month.selectedIndex].value;
        let day_result = day.options[day.selectedIndex].value;

        let birth = year_result + "-" + month_result + "-" + day_result;

        let petInfo = document.getElementById('detail').value;

        if (name == null || name == ''){
            alert('이름을 입력해주세요');
            document.getElementById('name').focus();
            return false;
        }
        if (gender == null){
            alert('성별을 선택해주세요');
            return false;
        }
        if (petType == null){
            alert('반려동물의 종을 선택해주세요');
            return false;
        }
        if (year_result == '00' || month_result == '00' || day_result == '00'){
            alert('생년월일을 정확히 선택해주세요');
            return false;
        }

        console.log(gender);

        let url = "/pet/create";
        fetch(url,{
            "method": "post",
            "headers": {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({name, gender, birth, petType, petInfo})
        })
            .then((response) => response.json()) // 응답 문자열 추출
            .then((data) => {
                console.log(data);
                if (data.cnt == 1){
                    alert('반려동물 정보가 등록되었습니다.');
                    if (confirm('반려동물 사진을 등록 하시겠습니까?')){
                        location.href='/petProfile/create';
                    }else{
                        location.href='/';
                    }
                }else{
                    alert('등록 실패 했습니다.')
                }
            });

    }

    window.onload = () => {
        let today = new Date();
        let this_year = today.getFullYear();
        let this_month = today.getUTCMonth()+1;

        let year = document.querySelector('#year');
        let month = document.querySelector('#month');
        let day = document.querySelector("#day");

        // 현재 년도부터 50년전까지만 출력
        for (let i = 0; i < 51; i++){
            year.options[i+1] = new Option(this_year - i + '', String(this_year-i));
        }

        // 년도 값을 선택할때 월 과 일 을 초기화
        document.getElementById('year').addEventListener('change', () => {
            month.options.length = 0;
            month.options[0] = new Option('월', String('00'));

            day.options.length = 0;
            day.options[0] = new Option('일', String('00'));

            let year_result = parseInt(year.options[year.selectedIndex].value);

            // 현재 선택된 년도가 현재년도와 같을 경우 현재 달까지만 출력
            if (year_result == this_year) {
                for (let i = 1; i < this_month+1; i++) {
                    if (i < 10) {
                        month.options[i] = new Option('0' + i, '0'+String(i));
                    } else {
                        month.options[i] = new Option(i + '', String(i));
                    }
                }
            }else{
                // 12개 달 값 세팅
                for (let i = 1; i < 13; i++) {
                    if (i < 10) {
                        month.options[i] = new Option('0' + i, '0'+String(i));
                    } else {
                        month.options[i] = new Option(i + '', String(i));
                    }
                }
            }
        })

        // 달을 선택하면 며칠까지 있는지 확인후 출력
        document.getElementById('month').addEventListener('change', () => {
            let mon31 = [1,3,5,7,8,10,12];
            let mon30 = [4,6,9,11];

            let month_result = parseInt(month.options[month.selectedIndex].value);
            let year_result = parseInt(year.options[year.selectedIndex].value);

            day.options.length = 0;
            day.options[0] = new Option('일', String('00'));


            if (year_result != this_year) {
                console.log('올해 아님')
                // 한달 일 수가 30, 31, 29 인 달 구분
                if (mon31.includes(month_result)) {
                    for (let i = 1; i < 32; i++) {
                        if (i < 10) {
                            day.options[i] = new Option('0' + i, '0'+String(i));
                        } else {
                            day.options[i] = new Option(i + '', String(i));
                        }
                    }
                } else if (mon30.includes(month_result)) {
                    for (let i = 1; i < 31; i++) {
                        if (i < 10) {
                            day.options[i] = new Option('0' + i, '0'+String(i));
                        } else {
                            day.options[i] = new Option(i + '', String(i));
                        }
                    }
                } else if (month_result == 2) {
                    // 윤년일 경우
                    if (parseInt(this_year) % 4 == 0) {
                        for (let i = 1; i < 30; i++) {
                            if (i < 10) {
                                day.options[i] = new Option('0' + i, '0'+String(i));
                            } else {
                                day.options[i] = new Option(i + '', String(i));
                            }
                        }
                    } else { // 아닐 경우
                        for (let i = 1; i < 29; i++) {
                            if (i < 10) {
                                day.options[i] = new Option('0' + i, '0'+String(i));
                            } else {
                                day.options[i] = new Option(i + '', String(i));
                            }
                        }
                    }
                } else {
                    day.options[0] = new Option('일', String('00'));
                }
            }else {
                console.log('올해임')
                if (month_result == this_month){
                    for (let i = 1; i < today.getDate()+1; i++) {
                        if (i < 10) {
                            day.options[i] = new Option('0' + i, '0'+String(i));
                        } else {
                            day.options[i] = new Option(i + '', String(i));
                        }
                    }
                } else if (mon31.includes(month_result)) {
                    for (let i = 1; i < 32; i++) {
                        if (i < 10) {
                            day.options[i] = new Option('0' + i, '0'+String(i));
                        } else {
                            day.options[i] = new Option(i + '', String(i));
                        }
                    }
                } else if (mon30.includes(month_result)) {
                    for (let i = 1; i < 31; i++) {
                        if (i < 10) {
                            day.options[i] = new Option('0' + i, '0'+String(i));
                        } else {
                            day.options[i] = new Option(i + '', String(i));
                        }
                    }
                } else if (month_result == 2) {
                    // 윤년일 경우
                    if (parseInt(this_year) % 4 == 0) {
                        for (let i = 1; i < 30; i++) {
                            if (i < 10) {
                                day.options[i] = new Option('0' + i, '0'+String(i));
                            } else {
                                day.options[i] = new Option(i + '', String(i));
                            }
                        }
                    } else { // 아닐 경우
                        for (let i = 1; i < 29; i++) {
                            if (i < 10) {
                                day.options[i] = new Option('0' + i, '0'+String(i));
                            } else {
                                day.options[i] = new Option(i + '', String(i));
                            }
                        }
                    }
                } else {
                    day.options[0] = new Option('일', String('00'));
                }
            }
        })

        document.getElementById('send_btn').addEventListener('click', ()=>{
            send();
        })
    }

</script>
</body>
</html>