<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content" style="padding-top: 20px; width: 70%; margin: auto">
<link href="/css/pet/list.css" rel="Stylesheet" type="text/css">
<div>
    <div class='title_line'>반려동물 정보 조회</div>

    <aside class="aside_right" th:if="${memberNo == session.memberno}">
        <a href="javascript:location.reload();">새로고침</a>
        <span class='menu_divide'>│</span>
        <a href="./create">정보 등록</a>
    </aside>

    <aside class="aside_right" th:if="${memberNo != session.memberno}">
        <a href="javascript:location.reload();">새로고침</a>
    </aside>

    <div class='menu_line'></div>

    <div class="" id="pet_info_list">
        <div class="row info_box mt-4 mb-4" th:if="${cnt > 0}" th:each="petVO:${petVOList}">
            <div class="col-3 mt-3 mb-3">
                <div class="img-container">
                    <div class="img-box" th:if="${petVO.svFileName!=null and
                                                        (petVO.svFileName.endsWith('.jpg') or petVO.svFileName.endsWith('.png') or
                                                        petVO.svFileName.endsWith('.jpeg') or petVO.svFileName.endsWith('.gif'))}">
                        <img th:src="@{|/petprofile/storage/${petVO.svFileName}|}" alt="반려동물 사진" style="width: 100%; object-fit: cover; cursor: pointer;"
                            class="preview" onclick="window.open(this.src)">
                    </div>
                    <div class="img-box" th:unless="${petVO.svFileName!=null and
                                                        (petVO.svFileName.endsWith('.jpg') or petVO.svFileName.endsWith('.png') or
                                                        petVO.svFileName.endsWith('.jpeg') or petVO.svFileName.endsWith('.gif'))}">
                        <img src="/image/pet/No_Image.png" alt="반려동물 사진" style="width: 100%;" class="preview">
                    </div>
                </div>
            </div>
            <div class="col-7 mt-4 mb-3 row">
                <div class="row align-items-center">
                    <div class="col-4 font-size">이름 : [[${petVO.petName}]]</div>
                    <div class="col-4 font-size" th:if="${petVO.petTypeNo==1}">종 : 강아지</div>
                    <div class="col-4 font-size" th:if="${petVO.petTypeNo==2}">종 : 고양이</div>
                    <div class="col-4 font-size" th:if="${petVO.petTypeNo==3}">종 : 기타</div>
                    <div class="col-4 font-size" th:id="'age-'+${petVO.petNo}"></div>
                </div>
                <div class="pet_detail">
                    <textarea class="pet_detail_txt detail-font-size ps-2 pt-2 pb-2 pe-2" th:text="${petVO.petDetail}"
                    style="resize: none; white-space: pre-wrap; word-break:break-all;" readonly></textarea>
                </div>
            </div>
            <div class="col-2 mt-3 mb-3 row" style="text-align: center;">
                <button class="btn btn-outline-info btn-md btn-font-size info_btn align-item-center"
                    th:if="${petVO.memberNo == session.memberno}" th:onclick="@{|location.href='/pet/myPetInfo?petNo=${petVO.petNo}'|}">관리</button>
                <button class="btn btn-outline-info btn-md btn-font-size info_btn align-item-center"
                    th:if="${petVO.memberNo != session.memberno}" th:onclick="@{|location.href='/pet/read?petNo=${petVO.petNo}'|}">구경하기</button>
            </div>
            <script th:inline="javascript">
                window.addEventListener('load', ()=>{
                    let birth = [[${petVO.petBirth}]].toString();
                    let birth_split = birth.split('-');
                    let today = new Date();

                    let age = today.getFullYear() - parseInt(birth_split[0]) + 1;
                    let man_age = 0;

                    if (new Date(today.getFullYear() + '-' + birth_split[1] + '-' + birth_split[2]) < today) {
                        man_age = age - 1;
                    } else {
                        man_age = age - 2;
                    }

                    document.getElementById('age-'+[[${petVO.petNo}]]).appendChild(document.createTextNode("나이(만) : "+age.toString() + "(" + man_age.toString() + ") 살"));
                })
            </script>
        </div>

        <div th:if="${cnt == 0 && memberNo == session.memberno}" style="width: 100%">
            <div style="width: 100%; margin: 0px auto; text-align: center; padding: 140px;">
                등록된 반려동물 정보가 없습니다!<br>
                정보를 등록해 주세요!
            </div>
        </div>

        <div th:if="${cnt == 0 && memberNo != session.memberno}" style="width: 100%">
            <div style="width: 100%; margin: 0px auto; text-align: center; padding: 140px;">
                상대가 등록한 반려동물 정보가 없습니다!
            </div>
        </div>

    </div>
    <script th:inline="javascript">
        window.onload = () => {
            if ([[${petVOList.size}]] < 2){
                document.getElementById('pet_info_list').style.height="450px";
            } else{
                document.getElementById('pet_info_list').style.height="auto";
                document.getElementById('pet_info_list').style.paddingBottom="10px";
            }
        }
    </script>


</div>
</div>
</body>
</html>