<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content" style="padding-top: 20px; width: 70%; margin: auto">
<link href="/css/pet/read.css" rel="Stylesheet" type="text/css">
<div>
    <div class='title_line'>내 반려동물 정보 조회, 수정</div>

    <aside class="aside_right">
        <a href="javascript:location.reload();">새로고침</a>
        <span class='menu_divide'>│</span>
        <a href="./list">목록</a>
    </aside>

    <div class='menu_line'></div>

    <form name='frm' id="frm" method='' action='' style="width: 100%; margin: 0 auto;"
        class="row">
        <input type="hidden" name="petNo" id="petNo" th:value="${petNo}">
        <div class="mb-3 img_box">
<!--            <div class="img_container mb-3">-->
<!--                <img style="width: 75%" id="pet_image">-->
<!--            </div>-->
            <div class="img-container">
                <div class="img-box">
                    <img src="/image/pet/No_Image.png" alt="반려동물 사진" style="width: 100%; object-fit: cover; cursor: pointer;"
                         class="preview" id="preview" onclick="window.open(this.src)">
                </div>
            </div>
            <div class="mt-4">
                <button type="button" id="change_image" class="btn btn-outline-info btn-md" style="width: 45%; margin-right: 1%"
                        th:attr="onclick=|location='/petProfile/create?petNo=${petNo}'|">사진 추가하기</button>
                <button type="button" class="btn btn-outline-info btn-md" style="width: 45%; margin-left: 1%"
                        th:attr="onclick=|location='/petProfile/update?petNo=${petNo}'|">사진 관리</button>
            </div>
<!--            <div class="img-container">-->
<!--                <div class="img-box" th:if="${petVO.svFileName!=null and-->
<!--                                                        (petVO.svFileName.endsWith('.jpg') or petVO.svFileName.endsWith('.png') or-->
<!--                                                        petVO.svFileName.endsWith('.jpeg') or petVO.svFileName.endsWith('.gif'))}">-->
<!--                    <img th:src="@{|/petprofile/storage/${petVO.svFileName}|}" alt="반려동물 사진" style="width: 100%; object-fit: cover; cursor: pointer;"-->
<!--                         class="preview" onclick="window.open(this.src)">-->
<!--                </div>-->
<!--                <div class="img-box" th:unless="${petVO.svFileName!=null and-->
<!--                                                        (petVO.svFileName.endsWith('.jpg') or petVO.svFileName.endsWith('.png') or-->
<!--                                                        petVO.svFileName.endsWith('.jpeg') or petVO.svFileName.endsWith('.gif'))}">-->
<!--                    <img src="/image/pet/No_Image.png" alt="반려동물 사진" style="width: 100%;" class="preview">-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="mb-3 row">
            <div>이름</div>
            <input type='text' name='name' required="required" id="name" placeholder="반려동물의 이름을 입력해주세요!(10자 이내)"
                   class="form-control" style='width: 100%; background-color: rgba(232,232,232,0.49)' readonly>
        </div>

        <div class="mb-3 row">
            <label for="petType" class="col-2 pt-2" style="width: 10.333333%; text-align: center;">종</label>
            <div class="col-3 pt-1">
                <div id="petType" class="petType form-control"></div>
            </div>
            <label for="gender" class="col-2 pt-2" style="width: 10.333333%; text-align: center;">성별 </label>
            <div class="col-3 pt-1 ms-2">
                <div class="gender form-control" id="gender">
                </div>
            </div>
        </div>

        <div class="assemble_date_time mb-3">
            <label for="birth" class="me-2 pe-2">생년월일</label>
            <div class="pt-1 row" style="width: 100%;" id="birth">
                <div class="form-control col-2 birth" id="year">
                </div>
                <span class="col-1 pt-2" style="width: 4.333333%;"> . </span>
                <div class="form-control col-1 birth" id="month" style="width: 11%;">
                </div>
                <span class="col-1 pt-2" style="width: 4.333333%;"> . </span>
                <div class="form-control col-1 birth" id="day" style="width: 11%;">
                </div>
                <label for="age" class="col-2 pt-2" style="text-align: center;">나이(만)</label>
                <div class="col-3 pt-1">
                    <div class="gender form-control" id="age">
                    </div>
                </div>
            </div>
        </div>


        <div class="mb-3 row">
            <label>상세 정보</label>
            <textarea name='detail' required="required" class="form-control" rows="7" style='width: 100%; resize: none;  background-color: rgba(232,232,232,0.49)' id="detail"
            placeholder="간단한 반려동물의 소개를 작성해 주세요.(선택사항)" readonly>함께 산책해요</textarea>
        </div>

        <div class="content_body_bottom" id="button_container">
            <button type="button" id="update_btn" class="btn btn-outline-info btn-md" style="width: 45%; margin-right: 1%">수정</button>
            <button type="button" id="delete_btn" class="btn btn-outline-info btn-md" style="width: 45%; margin-left: 1%">삭제</button>
        </div>

    </form>
</div>
    <script th:inline="javascript">
        window.onload = () => {
            // // 회원이 접근했을 때 작성된 데이터가 없으면 생성 페이지로 이동
            // let url = "/pet/petInfoCnt";
            // fetch(url, {
            //     "method": "GET",
            //     "headers": {
            //         "Content-Type": "application/json"
            //     },
            // })
            //     .then((response) => response.json()) // 응답 문자열 추출
            //     .then((data) => {
            //         if (parseInt(data.cnt) == 0) {
            //             if (confirm('등록된 반려동물 정보가 없습니다! 새로 등록하시겠습니까?')) {
            //                 location.href = '/pet/create';
            //             } else {
            //                 alert('메인페이지로 돌아갑니다.');
            //                 location.href = '/';
            //             }
            //             return false;
            //         } else if (parseInt(data.cnt) == -1) {
            //             alert('잘못된 접근입니다. 로그인해 주세요.');
            //             location.href = '/member/login';
            //         }
            //     });

            // 반려동물 데이터가 한 건이라도 있으면 받아온 반려동물 데이터 번호를 통해 조회
            url = "/pet/petInfo?petNo="+[[${petNo}]];
            fetch(url, {
                "method": "GET",
                "headers": {
                    "Content-Type": "application/json"
                },
            })
                .then((response) => response.json()) // 응답 문자열 추출
                .then((data) => {
                    if (data.svFileName != null){
                        document.getElementById('preview').src='/petprofile/storage/'+data.svFileName;
                    }

                    document.getElementById('name').value = data.petName;

                    [# th:each="petTypeVO : ${petTypeList}"]
                     if ([[${petTypeVO.petTypeNo}]] == data.petTypeNo){
                         document.getElementById('petType').appendChild(document.createTextNode([[${petTypeVO.petType}]]));
                     }
                    [/]
                    //
                    // if (data.petTypeNo == 1) {
                    //     document.getElementById('petType').appendChild(document.createTextNode('강아지'));
                    // } else if (data.petTypeNo == 2) {
                    //     document.getElementById('petType').appendChild(document.createTextNode('고양이'));
                    // } else if (data.petTypeNo == 3) {
                    //     document.getElementById('petType').appendChild(document.createTextNode('기타'));
                    // }

                    if (data.petGender == "M") {
                        document.getElementById('gender').appendChild(document.createTextNode('수 (Male)'));
                    } else if (data.petGender == "F") {
                        document.getElementById('gender').appendChild(document.createTextNode('암 (Female)'));
                    } else if (data.petGender == "E") {
                        document.getElementById('gender').appendChild(document.createTextNode('기타 (ETC)'));
                    }

                    let birth = data.petBirth.toString();
                    birth = birth.split('-');

                    document.getElementById('year').appendChild(document.createTextNode(birth[0]));
                    document.getElementById('month').appendChild(document.createTextNode(birth[1]));
                    document.getElementById('day').appendChild(document.createTextNode(birth[2]));

                    document.getElementById('detail').innerText = data.petDetail;
                    let today = new Date();

                    let age = today.getFullYear() - parseInt(birth[0]) + 1;
                    let man_age = 0;

                    if (new Date(today.getFullYear() + '-' + birth[1] + '-' + birth[2]) < today) {
                        man_age = age - 1;
                    } else {
                        man_age = age - 2;
                    }

                    document.getElementById('age').appendChild(document.createTextNode(age.toString() + "(" + man_age.toString() + ") 살"));
                });

            const updateBtn = document.getElementById('update_btn');
            const deleteBtn = document.getElementById('delete_btn');

            updateBtn.addEventListener('click', handleUpdateClick);
            deleteBtn.addEventListener('click', handleDeleteClick);

            function handleUpdateClick() {
                const nameTag = document.getElementById('name');
                const detailTag = document.getElementById('detail');

                const originalName = nameTag.value;
                const originalDetail = detailTag.value;

                // 입력제한을 삭제
                nameTag.removeAttribute('readonly');
                detailTag.removeAttribute('readonly');
                nameTag.style.removeProperty('background-color');
                detailTag.style.removeProperty('background-color');

                // 서버의 수정 로직과 연결이 된 버튼으로 변경
                updateBtn.innerText = '저장';
                updateBtn.id = 'send_btn';
                updateBtn.removeEventListener('click', handleUpdateClick);
                updateBtn.addEventListener('click', handleSaveClick);

                // 삭제버튼을 취소 버튼으로 변경하고
                // 취소를 눌렀을때 원래 상태로 변경시킴
                deleteBtn.innerText = '취소';
                deleteBtn.id = 'cancel_btn';
                deleteBtn.removeEventListener('click', handleDeleteClick);
                deleteBtn.addEventListener('click', () => {
                    nameTag.setAttribute('readonly', 'readonly');
                    nameTag.value = originalName;
                    detailTag.setAttribute('readonly', 'readonly');
                    detailTag.value = originalDetail;
                    nameTag.style.backgroundColor = 'rgba(232,232,232,0.49)';
                    detailTag.style.backgroundColor = 'rgba(232,232,232,0.49)';

                    updateBtn.innerText = '수정';
                    updateBtn.id = 'update_btn';
                    updateBtn.removeEventListener('click', handleSaveClick);
                    updateBtn.addEventListener('click', handleUpdateClick);

                    deleteBtn.innerText = '삭제';
                    deleteBtn.id = 'delete_btn';
                    deleteBtn.removeEventListener('click', arguments.callee);
                    deleteBtn.addEventListener('click', handleDeleteClick);
                });
            }

            // 수정 RESTAPI
            function handleSaveClick() {
                const nameTag = document.getElementById('name');
                const petName = nameTag.value;
                const detailTag = document.getElementById('detail');
                const petDetail = detailTag.value;
                let petNo = document.getElementById('petNo').value;
                petNo = parseInt(petNo);

                const url = '/pet/update';
                fetch(url, {
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ petName, petDetail, petNo })
                })
                    .then((response) => response.json()) // 응답 문자열 추출
                    .then((data) => {
                        if (parseInt(data.cnt) == 1) {
                            alert('수정 되었습니다.');
                            location.reload();
                        } else {
                            alert('수정에 실패 했습니다.');
                        }
                    });
            }

            // 삭제 RESTAPI
            function handleDeleteClick() {
                let petNo = document.getElementById('petNo').value;
                petNo = parseInt(petNo);

                let url = '/petProfile/profile_cnt?petNo='+petNo;
                fetch(url, {
                    "method": "GET",
                    "headers": {
                        "Content-Type": "application/json"
                    }
                }).then((response) => response.json()) // 응답 문자열 추출
                .then((data) => {
                    // 등록된 반려동물 사진이 없을경우
                    if (parseInt(data.cnt) == 0) {
                        // 삭제 로직 실핼
                        if (confirm('반려동물 정보를 삭제하시겠습니까?')) {
                            url = '/pet/delete';
                            fetch(url, {
                                "method": "POST",
                                "headers": {"Content-Type": "application/json"},
                                body: JSON.stringify({ petNo })
                            })
                            .then((response) => response.json()) // 응답 문자열 추출
                            .then((data) => {
                                if (parseInt(data.cnt) == 1) {
                                    alert('삭제 되었습니다.');
                                    location.href='/pet/list';
                                } else {
                                    alert('삭제에 실패 했습니다.');
                                    location.reload();
                                }
                            });
                        }
                    } else {
                        if(confirm('등록된 이미지가 '+parseInt(data.cnt)+'건 발견 되었습니다. 이미지를 모두 삭제 하시겠습니까?')){
                            url = '/petProfile/delete_all';
                            fetch(url, {
                                "method": "POST",
                                "headers": {"Content-Type": "application/json"},
                                body: JSON.stringify({ petNo })
                            })
                            .then((response) => response.json()) // 응답 문자열 추출
                            .then((data) => {
                                if (parseInt(data.cnt) == 1) {
                                    alert('이미지가 모두 삭제 되었습니다.');
                                    handleDeleteClick();
                                } else {
                                    alert('이미지 삭제에 실패 했습니다.');
                                    location.reload();
                                }
                            });
                        } else{
                            alert('삭제를 취소 합니다.');
                        }
                    }
                });

            }
        }
    </script>
</div>
</body>
</html>