<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content" style="width: 80%; margin: auto">

	<div class='title_line'>관리자 전용
		<!-- 검색어가 있을 때만 이 부분이 출력되도록 수정 -->
		<span th:if="${word != null and word != ''}" th:text="|[${word}] ${no}건|"></span>
		<span th:if="${word == null or word == '' and all_no != null}" th:text="|${all_no}건|"></span>
	</div>


	<aside class="aside_right">
		<a href="javascript:location.reload();">새로고침</a>
		<span class='menu_divide'>│</span>
		<a href='./create'>관리자 가입</a>
	</aside>

	<div class='menu_line'></div>


	<table class="table table-striped" style='width: 100%;'>
		<colgroup>
			<col style='width: 5%;' />
			<col style='width: 26%;' />
			<col style='width: 28%;' />
			<col style='width: 28%;' />

		</colgroup>
		<tr>
			<th class='th_bs'> </th>
			<th class='th_bs'>관리자 ID</th>
			<th class='th_bs'> 관리자 이름</th>
			<th class='th_bs'>기타</th>

		</tr>
		<div th:replace="~{master/list_search_component::list_search_fragment}"></div>


		<tr th:each="masterVO, status:${list}">
			<td class='td_basic'>
			</td>
			<td class='td_bs'><a th:text="${masterVO.masterid}"></a>
			</td>
			<td class='td_bs'><a th:text="${masterVO.mastername}"></a>
			</td>

			<td class='td_basic'>
				<a th:href="@{|./passwd_update_form?masterno=${masterVO.masterno}|}"><img src='/master/images/update.png'
						title='패스워드 변경' class="icon"></a>

				<a th:href="@{|./delete?masterno=${masterVO.masterno}|}" }><img src='/master/images/delete.png' title='삭제'
						class="icon"></a>
			</td>

		</tr>


	</table>


	<div class='bottom_menu'>
		<button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
	</div>


</div>

</html>