<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
<div layout:fragment="content" style="padding-top: 20px;">
<link href="/css/mateCommunity/create.css" rel="Stylesheet" type="text/css">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=da5a9ceca7aa487be04c54d6d13472a4&libraries=services"></script>
<div style="width:80%; margin: auto; height: auto; overflow: hidden">
    <div class='title_line'>
        <span th:if="${petTypeNo == 1}" style="font-size: 20px;">
            강아지
        </span>
        <span th:if="${petTypeNo == 2}" style="font-size: 20px;">
            고양이
        </span>
        <span th:if="${petTypeNo == 3}" style="font-size: 20px;">
            기타 반려동물
        </span>
        산책 메이트 모집글
    </div>

    <aside class="aside_right" th:if="${session.memberno==mateCommunityVO.memberNo}">
        <a href="javascript:location.reload();">새로고침</a>
        <span class='menu_divide'> │ </span>
        <a th:href="@{|/mateCommunity/list_all?now_page=${now_page}&searchWord=${searchWord}|}" th:if="${petTypeNo==0}">모집글 목록</a>
        <a th:href="@{|/mateCommunity/list_all_byPetTypeNo?petTypeNo=${petTypeNo}&now_page=${now_page}&searchWord=${searchWord}|}" th:if="${petTypeNo!=0}">모집글 목록</a>
        <span class='menu_divide'>│</span>
        <a th:href="@{|./update?mCommunityNo=${mateCommunityVO.MCommunityNo}&petTypeNo=${petTypeNo}|}">수정</a>
        <span class='menu_divide'>│</span>
        <button id="delete_btn" th:href="@{|./delete?mCommunityNo=${mateCommunityVO.MCommunityNo}|}">삭제</button>
        <!--    <span class='menu_divide'>│</span>-->
        <!--    <a th:href="@{|./create?petTypeNo=${petTypeNo}|}">글 등록</a>-->
    </aside>
    <aside class="aside_right" th:unless="${session.memberno==mateCommunityVO.memberNo}">
        <a href="javascript:location.reload();">새로고침</a>
        <span class='menu_divide'> │ </span>
        <a th:href="@{|/mateCommunity/list_all?now_page=${now_page}&searchWord=${searchWord}|}" th:if="${petTypeNo==0}">모집글 목록</a>
        <a th:href="@{|/mateCommunity/list_all_byPetTypeNo?petTypeNo=${petTypeNo}&now_page=${now_page}&searchWord=${searchWord}|}" th:if="${petTypeNo!=0}">모집글 목록</a>
    </aside>
    <div class="menu_line"></div>

    <div>
        <div class="row mb-3 text-center pb-3" style="border-bottom: 3px solid rgba(33, 150, 243, 0.95);">
            <div th:text="${mateCommunityVO.title}" style="font-weight: bold; text-align: left;" class="col-md-5"></div>
            <div class="col-md-5" style="text-align: right;"><span>작성일 | </span><span th:text="${mateCommunityVO.WDate}" style="font-weight: bold;"></span></div>
            <div class="col-md-2" style="text-align: right;"><span>조회수 | </span><span th:text="${mateCommunityVO.viewCnt}" style="font-weight: bold;"></span></div>
        </div>

        <div>
            <div style="white-space: pre-wrap; word-break:break-all; height: 300px;" th:text="${mateCommunityVO.content}" class="col ps-4 pe-4 pt-3"></div>
            <div>
                <span th:text="${mateCommunityVO.searchTag}" style="color: deepskyblue"></span>
            </div>
        </div>
        <div>
            <div class="row mb-3 text-center">
                <div class="col-md-3" style="text-align: left;"><span>집합시간 | </span><span th:text="${mateCommunityVO.assembleTime}"></span></div>
                <div class="col-md-3" style="text-align: left;"><span>집합위치 | </span><span th:text="${mateCommunityVO.startingP}" style="font-weight: bold"></span>&nbsp;<span th:text="${mateCommunityVO.startingDetail}" style="font-weight: bold" ></span>
                </div>
                <div class="col-md-3" style="text-align: right;"><span>모인인원 / 집합인원 | </span><span> - </span> / <span th:text="${mateCommunityVO.walkingM}" style="font-weight: bold"></span></div>
                <div class="col-md-3" style="text-align: right;"><span>신청현황 | </span> <span th:if="${mateCommunityVO.status == 0}" style="font-weight: bold">모집중</span><span th:if="${mateCommunityVO.status == 1}" style="font-weight: bold">모집완료</span></div>
            </div>

            <div id="static_map" style="width: 40%; height: 350px; margin: 0px auto"></div>
<!--            <div>-->
<!--                상세 주소 - <span th:text="${mateCommunityVO.startingDetail}"></span>-->
<!--            </div>-->
        </div>
        <div>
            <a th:href="@{|${mateCommunityVO.MCommunityNo}|}">산책 메이트 신청</a>
        </div>

    </div>

</DIV>
<script>
    var mapContainer = document.getElementById('static_map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(`[[${mateCommunityVO.startingP}]]`, function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;font-size: 10px;">[[${mateCommunityVO.startingDetail}]]</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script>
<!--<script src="/js/mateCommunity/read.js" th:inline="javascript"></script>-->
<script th:inline="javascript">
    window.onload = () =>{
        document.getElementById('delete_btn').addEventListener("click", () => {
            let url = './delete';

            fetch(url, {
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(
                    {mCommunityNo : [[${mateCommunityVO.mCommunityNo}]]}
                )
            })
                .then(response => response.json())
                .then(rdata => {
                    console.log(rdata.cnt);
                    if (rdata.cnt == 0) { // 패스워드 불일치
                        alert("삭제 실패 했습니다.");
                        return false;
                    }else{
                        alert("성공적으로 삭제 되었습니다.");
                        location.href='/mateCommunity/list_all';
                    }
                })
                .catch(error => { // 서버 다운등 통신 에러
                    console.error('Error:', error);
                });
        });
    }
</script>
</div>