<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
	<div class='title_line'>
		> 파일 수정
	</div>

	<aside class="aside_right">
		<a href="/culturefacility/create">등록</a>
		<span class='menu_divide'>│</span>
		<a href="javascript:location.reload();">새로고침</a>
		<span class='menu_divide'>│</span>
	</aside>

	<div class='menu_line'></div>


	<fieldset class="fieldset_basic">

		<ul>
			<li class="li_none">

				<div style="width:60%;margin:auto;">
					<div th:if="${culturefileVO != null }">
						<div
							th:if="${culturefileVO.file1.endsWith('jpg') or culturefileVO.file1.endsWith('png') or culturefileVO.file1.endsWith('gif')}">
							<label>이미지</label>
							<img th:src="@{|/culturefile/storage/${culturefileVO.file1saved}|}"
								style='width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;'>
						</div>


						<div th:if="${culturefileVO.size1 == 0}" style="text-align: center; width: 50%; float: left;">

						<label th:text="${list}"></label>
							<img src="/culturefile/images/none1.png" style="width: 90%;">
						</div>
					</div>
				</div>





				<div style='text-align: left; width: 47%; float: left;'>
					<form name='frm' method='POST' action='./update_file' enctype="multipart/form-data">
						<input type="hidden" name="culturefno" th:if="${culturefacilityVO != null}"
							th:value="${culturefacilityVO.culturefno}">
						<br><br>
						변경 이미지 선택<br>
						<input type='file' name='file1MF' id='file1MF' value='' placeholder="파일 선택"><br>
						<br>
						<div style='margin-top: 20px; clear: both;'>
							<button type="submit" class="btn btn-secondary btn-sm">파일 변경 처리</button>
							<button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">파일 변경 취소</button>
						</div>
					</form>
				</div>
			</li>
		</ul>
	</fieldset>

</div>

</html>