<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
	<div class='title_line'>
		<span th:text="${culturefacilityVO != null ? culturefacilityVO.cname : ''}" class="title_line_text"></span>
		> 파일 수정
	</div>

	<aside class="aside_right">
		<a th:href="@{|./create?culturefno=${culturefacilityVO != null ? culturefacilityVO.culturefno : ''}|}">등록</a>
		<span class='menu_divide'>│</span>
		<a href="javascript:location.reload();">새로고침</a>
		<span class='menu_divide'>│</span>
	</aside>

	<div class='menu_line'></div>

	<fieldset class="fieldset_basic">
		<ul>
			<li class="li_none">
				<div
					th:if="${culturefileVO != null and culturefileVO.file1 != null and (culturefileVO.file1.endsWith('jpg') or culturefileVO.file1.endsWith('png') or culturefileVO.file1.endsWith('gif'))}"
					style="text-align: center; width: 50%; float: left;">
					<img th:src="@{|/culturefile/storage/${culturefileVO.file1saved}|}" style="width: 90%;">
				</div>

				<div
					th:if="${culturefileVO != null and ((culturefileVO.file1 == null) or (culturefileVO.file1 != null and (culturefileVO.file1.endsWith('jpg') or culturefileVO.file1.endsWith('png')  or culturefileVO.file1.endsWith('gif')) == false and culturefileVO.size1 > 0))}"
					class="display_table" style="float: left; width: 50%;">
					<div class="display_table_cell">
						<span th:text="${culturefileVO.file1}"></span>
					</div>
				</div>

				<div th:if="${culturefileVO != null and culturefileVO.size1 == 0}"
					style="text-align: center; width: 50%; float: left;">
					<img src="/culturefile/images/none1.png" style="width: 90%;">
				</div>

				<div
					th:if="${culturefileVO != null and ((culturefileVO.file1 == null) or (culturefileVO.file1 != null and (culturefileVO.file1.endsWith('jpg') or culturefileVO.file1.endsWith('png')  or culturefileVO.file1.endsWith('gif')) == false and culturefileVO.size1 > 0))}">
					<label>이미지</label>
					<img th:src="@{|/culturefile/storage/${culturefileVO.file1saved}|}"
						style='width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;'>
				</div>

				<div style='text-align: left; width: 47%; float: left;'>


					<form name='frm' method='POST' action='./update_file' enctype="multipart/form-data">
						<input type="hidden" name="culturefno" th:if="${culturefacilityVO != null}"
							th:value="${culturefacilityVO.culturefno}">

						<input type="hidden" name="now_page" th:value="${now_page}">
						<input type="hidden" name="search_word" th:value="${word}">

						<br><br>
						변경 이미지 선택<br>
						<input type='file' name='file1MF' id='file1MF' value='' placeholder="파일 선택"><br>
						<br>
						<div style='margin-top: 20px; clear: both;'>
							<button type="submit" class="btn btn-secondary btn-sm">파일 변경 처리</button>
							<button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
						</div>
					</form>
				</div>
			</li>
		</ul>
	</fieldset>

</div>

</html>