<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">

  <div class='title_line'>관리자 로그인 내역 (관리자 전용)
  <span th:if="${word!=null and word!=''}" th:text="|[${word}] ${no}건|"></span>
  <span th:if="${word==null or word==''}" th:text="|${all_no}건|"></span>
  </div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span>
    <a href='../master/create'>관리자 가입</a>
    <span class='menu_divide'>│</span>
    <a href='../master/list'>관리자 목록</a>
  </aside>
  <div class='menu_line'></div>
  
  <div th:replace="~{masterlogin/list_search_component::list_search_fragment}"></div>
  

    <div th:replace="~{masterlogin/list_all_component::list_all_fragment}"></div>

</div>
</html>
