<!DOCTYPE html>
<html layout:decorate="~{layout}">
<!-- layout.html 상속 -->
<div layout:fragment="content" style="width: 100%; text-align: center;margin-top: -100px;">
  <link href="/css/layout/main.css" rel="Stylesheet" type="text/css"> <!-- /static 기준 -->
  <img src="/image/main/main.png" class="img-fluid main-img"> <!-- /static/images/main.jpg -->
  <div class="func_info">
    <div class="func_title">주요 기능</div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm pb-3">
          <div class="card-header py-3">
            <h5 class="my-0 fw-normal">동반가능 문화시설 정보</h5>
          </div>
          <div class="card-body">
            <!--              <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>-->
            <ul class="list-unstyled mt-3 mb-4 ps-4 ps-4">
              <li>반려동물과 함께 방문할 수 있는</li>
              <li>다양한 장소들 조회가능하고,</li>
              <li>없는 정보는 요청시</li>
              <li>빠른 조치 해드려요!</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-info" th:onclick="|@{location.href='/culturefacility/list_search'}|">문화시설 조회</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm pb-3">
          <div class="card-header py-3">
            <h5 class="my-0 fw-normal ">산책 메이트 모집 / 신청</h5>
          </div>
          <div class="card-body">
            <!--              <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>-->
            <ul class="list-unstyled mt-3 mb-4 ps-3 ps-3">
              <li>혼자 산책하기 싫을때,</li>
              <li>자주 같이 산책 할 친구가 필요할때</li>
              <li>모집글을 작성/신청 하시면 </li>
              <li>산책메이트를 만들수 있습니다!</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-info" th:onclick="|@{location.href='/mateCommunity/list_all'}|">모집 / 신청</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm pb-3">
          <div class="card-header py-3">
            <h5 class="my-0 fw-normal">정보 공유</h5>
          </div>
          <div class="card-body">
            <!--              <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>-->
            <ul class="list-unstyled mt-3 mb-4 ps-4 ps-4">
              <li>반려동물에 관한 궁금증이 있으신분들,</li>
              <li>좋은 용품들을 알고 싶으신분들,</li>
              <li>노하우를 공유 하고싶으신 분들</li>
              <li>이곳에서 궁금증을 해결하세요!</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-info" th:onclick="|@{location.href='/community/list_all'}|">정보 공유</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="culture_facillity">
    <p class="func_curture">동반가능 문화시설</p>
    <div class="card-group culture_facillity_imgs">
      <div class="card culture_facillity_img" style="width: 18rem; margin: auto;">
        <img src="/image/main/cafe.jpg" class="card-img-top rounded" alt="..." style="width: 85%; margin: auto;">
      </div>
      <div class="card culture_facillity_img" style="width: 18rem; margin: auto;">
        <img src="/image/main/cafe.jpg" class="card-img-top rounded" alt="..." style="width: 85%; margin: auto;">
      </div>
      <div class="card culture_facillity_img" style="width: 18rem; margin: auto;">
        <img src="/image/main/cafe.jpg" class="card-img-top rounded" alt="..." style="width: 85%; margin: auto;">
      </div>
      <div class="card culture_facillity_img" style="width: 18rem; margin: auto;">
        <img src="/image/main/cafe.jpg" class="card-img-top rounded" alt="..." style="width: 85%; margin: auto;">
      </div>
    </div>
  </div>
</div>

</html>