<div th:fragment="navbarFragment">
	<div class="top_menu_img">
		<div class="top_menu_label">임시 nav</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">HOME</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- 메뉴 시작 -->
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item dropdown" th:each="cateVOMenu:${menu}">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" th:text="${cateVOMenu.name}">
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li th:each="cateVO:${cateVOMenu.list_namesub}"><a class="dropdown-item"
									th:href="@{|/contents/list_by_cateno?cateno=${cateVO.cateno}|}" th:text="${cateVO.namesub}"></a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" th:text="회원">
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item"><a class="nav-link" href="/member/create">회원가입</a></li>
							<li class="nav-item" th:if="${session.memberno != null}">
								<a class="nav-link" th:href="@{|/member/read?memberno=${session.memberno}|}">회원 정보 수정</a>
							</li>
							<li class="nav-item" th:if="${session.memberno != null}">
								<a class="nav-link" href="/member/passwd_update_form">비밀 번호 변경</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="#">아이디 찾기</a></li>
							<li class="nav-item"><a class="nav-link" href="#">비밀번호 찾기</a></li>
							<li class="nav-item" th:if="${session.memberno!=null}"><a class="nav-link" href="#">로그인 내역</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" th:text="관리자">
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item"><a class="nav-link" href="/master/create">관리자 회원가입</a></li>
							<li class="nav-item" th:if="${session.masterno == null}">
								<a class="nav-link" href="/master/login" th:text="@{|관리자 로그인|}"></a>
							</li>
							<li class="nav-item" th:if="${session.masterno != null}">
								<a class="nav-link" href="/master/logout" th:text="@{|${session.masterid} 관리자 로그아웃|}"></a>
							</li>
							<li class="nav-item" th:if="${session.masterno != null}">
								<a class="nav-link" href="/master/list">관리자 목록</a>
							</li>

						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" th:text="문화시설">
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li class="nav-item"><a class="nav-link" href="/culturefacility/create">문화시설 등록</a></li>
							<li class="nav-item"><a class="nav-link" href="/culturefacility/list_all">문화시설 목록</a></li>
						</ul>
					</li>

					<li class="nav-item">
						<span th:if="${session.memberno == null}"><a class="nav-link" href="/member/login"
								th:text="@{|로그인|}"></a></span>
						<span th:if="${session.memberno != null}"><a class="nav-link" href="/member/logout"
								th:text="@{|${session.id} 로그아웃|}"></a></span>
					</li>
				</ul>
			</div>
			<!-- 메뉴 종료 -->

		</div>
	</nav>

</div>