<div th:fragment="list_all_fragment">
  <div style="width: 80%; margin: 0 auto">
    <table class="table table-hover">
      <colgroup>
        <col style='width: 30%;' />
        <col style='width: 15%;' />
        <col style='width: 15%;' />
        <col style='width: 40%;' />
      </colgroup>
      <thead>
        <tr>
          <th class='th_bs'>접속일</TH>
          <th class='th_bs'>ID</th>
          <th class='th_bs'>성명</th>
          <th class='th_bs'>IP</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="loginVO, status:${list}">
          <td class='td_bs' th:text="${loginVO.conndate.substring(0,17)}">
          <td class='td_bs'><a th:if="${loginVO.memberno != 0}"
              th:href="@{|../member/read_data?memberno=${loginVO.memberno}&mprofileno=${loginVO.mprofileno}|}"
              th:text="${loginVO.id}"></a>
            <span th:if="${loginVO.memberno == 0}">삭제된 아이디</span>
          </td>
          <td class='td_bs'><a th:if="${loginVO.memberno != 0}"
              th:href="@{|../member/read_data?memberno=${loginVO.memberno}&mprofileno=${loginVO.mprofileno}|}"
              th:text="${loginVO.name}"></a>
            <span th:if="${loginVO.memberno == 0}">삭제된 회원</span>
          </td>
          <td class='td_bs' th:text="${loginVO.ip}">
        </tr>
      </tbody>
    </table>

    <!-- 페이지 버튼 목록 출력 시작 -->
    <div class="bottom_menu" th:utext="${paging}"></div>
    <!-- 페이지 버튼 목록 출력 종료 -->
  </div>
</div>